<!-- Enhanced Features Loader -->
<!-- This file loads all custom enhancements -->

<!-- Core Enhancements CSS -->
<link rel="stylesheet" href="{{ '/assets/css/enhancements.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/search.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/research-map.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/charts.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/tag-cloud.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/visitor-map.css' | relative_url }}">

<!-- Core Enhancements JavaScript -->
<script defer src="{{ '/assets/js/enhancements.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/search.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/research-map.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/charts.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/tag-cloud.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/visitor-map.js' | relative_url }}"></script>

<!-- Font Awesome (if not already loaded) -->
{% unless site.fontawesome_loaded %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
{% endunless %}

<!-- Structured Data -->
{% include schema-website.html %}
{% include schema-person.html %}
{% include schema-article.html %}

<!-- Reading Progress Bar will be injected by JavaScript -->
<!-- Back to Top Button will be injected by JavaScript -->
<!-- Search Overlay will be injected by JavaScript -->
